# Ansible generated rules
{% for item in pass_rules %}
pass quick from proto {{ pass_rules[item].proto|default('tcp') }} from {{ pass_rules[item].src_range}} to {{ pass_rules[item].dst_range }} port {{ pass_rules[item].dst_ports }} # {{ pass_rules[item].order }}
{% endfor %}

